<h1>Databinding & Component Communication</h1>

<div>
  <h3>Data Binding</h3>

  <p>
    <span>1 Way Data Binding</span>
    {{ selectedBrowserName }}
  </p>

  <p>
    <span>2 Way Data Binding</span>
    {{ browserNameSelection }}
  </p>
</div>

<input id="browser-input" type="text" list="input-browsers" [(ngModel)]="browserNameSelection" (change)="selectionChange(browserNameSelection)">
<datalist id="input-browsers">
  <option *ngFor="let browser of browserNames" [value]="browser">
</datalist>

<button (click)="sendWordToParent()" [disabled]="selectedBrowserName == null">Send To Parent</button>
