main {
  padding: 1rem 1rem 4rem;

  @media screen and (min-width: 768px) {
    padding: 2rem 2rem 100px;
  }

  h1 {
    font-weight: 600;
  }
}

.content-list {
  display: flex;
  flex-flow: column;

  @media screen and (min-width: 768px) {
    flex-flow: row;
    flex-wrap: wrap;
  }

  &-item {
    margin-top: 15px;
    flex: 1;

    @media screen and (min-width: 768px) {
      flex: inherit;
      width: 32%;
      margin: 1% 2% 1% 0;
    }
  }
}
