@import url('https://fonts.googleapis.com/css?family=Lato');

:host {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

hr {
  width: 100%;
}

p {
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
              0 2px 4px 0 rgba(0,0,0,0.08);
  font-weight: bold;
  padding: 1em;
  transition: all .1s ease-in;
  width: 20em;
}

p span {
  font-weight: normal;
  display: block;
  text-decoration: underline;
}
